/* body {
    background-color: antiquewhite;
} */

/* Grid styles for all screen sizes  */


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}
footer {
    margin-top: auto;
}
  
.grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;
}

.grid img {
width: 100%;
height: auto;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto;
}

.nav-button {

    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.nav-button a {
    font-weight: normal; /* Reset the font weight */
    /* font-variant-alternates: ; */
    color: black;
}


/* 
.nav-button a:hover,
.nav-button a:focus {
font-weight: bold; 
} */
/* a:visited,a:hover, a:active {
    font-weight: bold;
} */

    
/* .nav-button:hover,
.nav-button:focus {
    background-color: #F082AC;
} */
.skip {
    position: absolute;
    top: -100px;
    left: 0;
}

.branding-container{
    column-count: 3;
    column-gap: 15px;
}
#branding-item {
    display: inline-block;
    width: 100%;
}

.branding-item img {
    display:block;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.packaging-inspo-imgs {
    display: flex;
    flex-basis: 100%;
}

.packaging-inspo-imgs img {
    max-width: 100%;
    height: auto;
} 

.container-inspo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.package {
    max-width: 100%;
    height: auto;
}
@media only screen and (max-width: 700px) {
   

    .branding-container {
        column-count: 1; 
    }
    nav {
      display: flex;
      flex-direction: column; /* set the direction to column to stack items vertically */
      justify-content: center;
      align-items: center;
    }
    
    .nav-button {
      /* your button styles */
      margin: 10px 0; /* add some vertical margin between the buttons */
    }
  }
  
/* Styles for small screens */
@media only screen and (max-width: 767px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }



    /* .branding-container {
        column-count: 1;
      
    } */

  }
  
  /* Styles for medium screens */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
    
    header {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #fff;
      color: #333;
      padding: 10px;
      display: flex;
      align-items: center;
    }
  
  
    /* nav a {
      margin-left: 20px;
    } */
  }
  
  /* Styles for large screens */
  @media only screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .container-inspo {
      flex-wrap: wrap;
    }
  
    .package {
      max-width: 25%;
    }
  }
  
  /* Styles for extra large screens */
  @media screen and (min-width: 900px) {
    .container-inspo {
      flex-wrap: nowrap;
    }
  }
/* The grid layout must change in each of your three screen sizes using min-width media queries.   */
/* The flex layout must change in each of your three screen sizes using min-width media queries.   */
